<div class="hero">
	<div class="container">
		<span class="hero-background icon-hero-funcunit"></span>
		<div id="hero-download" class="pull-right">
			<h1>Test your apps, not your patience</h1>

			<a href="https://raw.github.com/bitovi/funcunit.js/v{{package.version}}/dist/funcunit.js">
				<button class="download">Download {{package.version}}<span>(One file. Everything you need.)</span></button>
			</a>
		</div>

	</div>
</div>

<div class="content">
	<div class="container benefits">
		<h1>Author tests directly in the browser</h1>

		<p>Writing and debugging tests is super easy with FuncUnit. Just open a test page with your favorite 
			browser and turn on the debugger.</p>

	</div>

	<div class="container twitter">

		<a href="https://twitter.com/bitovi" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @bitovi</a>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=funcunit.js&type=watch&count=true"
						allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=funcunit.js&type=fork&count=true"
						allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

	</div>

	<div class="dark social">
		<div class="container">
				<ul class="social-stats">
				<li class="irc"><a href="http://bithub.com/greatest/funcunit/article">articles</a></li>
				<li class="apps"><a href="http://bithub.com/greatest/funcunit/app">apps submitted</a></li>
				<li class="plugins"><a href="http://bithub.com/greatest/funcunit/plugin">plugins submitted</a></li>
				<li class="forums"><a href="http://bithub.com/greatest/funcunit/question">forum posts</a></li>
				<li class="commits"><a href="http://bithub.com/greatest/funcunit/code">commits</a></li>
			</ul>
		</div>
	</div>

	<div class="container example">
		<h1>It's This Easy</h1>
		<h2>Test a todo-list app with no effort at all</h2>

		<pre class="code prettyprint lang-js" style="overflow: hidden;">
module('todomvc');

test('basic todo functionality', function() {
	F('#new-todo').type('FuncUnit [enter]');
	F('#new-todo').type('is [enter]');
	F('#new-todo').type('awesome! [enter]');

	F('.toggle:not(:checked)').click();
	F('.toggle:not(:checked)').click();
	F('.toggle:not(:checked)').click();

	//adding wait for dramatic effect
	F.wait(1000, function() {
		F('#clear-completed').click();
		F('.todo.completed').missing();
	});
});
		</pre>
		<iframe class="result" src="examples/todo_test.html"></iframe>
		<br/>
	</div>
</div>