<div class="hero">
	<div class="container">
		<span class="hero-background icon-hero-funcunit"></span>
		<div id="hero-download" class="pull-right">
			<h1>Write better tests, faster.</h1>

			<a href="https://raw.github.com/bitovi/funcunit.js/v{{package.version}}/dist/funcunit.js">
				<button class="download">Download {{package.version}}<span>(One file. Everything you need.)</span></button>
			</a>
		</div>

	</div>
</div>

<div class="content">
	<div class="container benefits">
		<h1>Superpower your tests</h1>

		<p>FuncUnit enhances assertion libraries like QUnit and Jasmine, enabling them to simulate user actions, easily test asynchronous behavior, and support black box testing. Use it's terse jQuery-like syntax to superpower your functional or unit tests.</p>

	</div>

	<div class="container twitter">

		<a href="https://twitter.com/funcunit" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @funcunit</a>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=funcunit.js&type=watch&count=true"
						allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=funcunit.js&type=fork&count=true"
						allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

	</div>

	<div class="dark social">
		<div class="container">
				<ul class="social-stats">
				<li class="irc"><a href="http://bithub.com/greatest/funcunit/article">articles</a></li>
				<li class="apps"><a href="http://bithub.com/greatest/funcunit/app">apps submitted</a></li>
				<li class="plugins"><a href="http://bithub.com/greatest/funcunit/plugin">plugins submitted</a></li>
				<li class="forums"><a href="http://bithub.com/greatest/funcunit/question">forum posts</a></li>
				<li class="commits"><a href="http://bithub.com/greatest/funcunit/code">commits</a></li>
			</ul>
		</div>
	</div>

	<div class="container example">
		<h1>It's This Easy</h1>

		<ul class="navigation">
			<li class="header">Pick a Testrunner:</li>
			<li class="tab selected">QUnit</li>
			<li class="tab">Jasmine</li>
		</ul>

		<div class="content"></div>

		<input type="button" class="runner" value="Run Tests"/>
	</div>
</div>