<div class="hero">
	<div class="container icon-hero-funcunit">
		<div id="hero-download" class="pull-right">
			<h1>Test your apps, not your patience</h1>

			<a href="https://github.com/bitovi/funcunit/tarball/master">
				<button class="download">Download {{package.version}}<span>(One file. Everything you need.)</span></button>
			</a>
		</div>

	</div>
</div>

<div class="content">
	<div class="container benefits">
		<h1>Author tests directly in the browser</h1>

		<p>Writing and debugging tests is super easy with FuncUnit. Just open a test page with your favorite 
			browser and turn on the debugger.</p>

	</div>

	<div class="container twitter">

		<a href="https://twitter.com/bitovi" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @bitovi</a>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=funcunit.js&type=watch&count=true"
						allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

		<iframe src="http://ghbtns.com/github-btn.html?user=bitovi&repo=funcunit.js&type=fork&count=true"
						allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

	</div>

	<div class="dark social">
		<div class="container">
				<ul class="social-stats">
				<li class="irc"><a href="http://bithub.com/greatest/funcunit/article">articles</a></li>
				<li class="apps"><a href="http://bithub.com/greatest/funcunit/app">apps submitted</a></li>
				<li class="plugins"><a href="http://bithub.com/greatest/funcunit/plugin">plugins submitted</a></li>
				<li class="forums"><a href="http://bithub.com/greatest/funcunit/question">forum posts</a></li>
				<li class="commits"><a href="http://bithub.com/greatest/funcunit/code">commits</a></li>
			</ul>
		</div>
	</div>

	<div class="container example">
		<h1>It's This Easy</h1>
		<h2>Test a todo-list app with no effort at all</h2>

		<a href="http://jsfiddle.net/xKc3H/13/" target="_blank"><button class="color">Edit</button></a>
		<pre class="code prettyprint lang-js" style="overflow-x: hidden;">
var Todo = can.Model.extend({
	findAll: 'GET /todos',
	findOne: 'GET /todos/{id}',
	update: 'PUT /todos/{id}',
	destroy: 'DELETE /todos/{id}'
}, {});

var TodoBoard = can.Control.extend({
	init: function() {
		this.element.html(can.view('todoBoard',
			new Todo.List({})));
	},
	'input[type=checkbox] change': function(el, ev) {
		el.parent().data('todo').attr('done',
			el.prop('checked')).save();
	},
	'.delete click': function(el, ev) {
		el.parent().data('todo').destroy();
	},
	'.description click': function(el, ev) {
		can.route.attr('id',
			el.parent().data('todo').id);
	}
});

var TodoEditor = can.Control.extend({
	setTodo: function(todo) {
		this.options.todo = todo;
		this.on();
		this.element.html(can.view('todoEditor',
			this.options.todo));
	 },
	'input change': function(el, ev) {
		this.element.find('.spinner')
			.removeClass('hidden');
		this.options.todo.attr('description',
			el.val()).save();
	},
	'{todo} updated': function() {
		this.element.find('.spinner')
			.addClass('hidden');
	},
	'{todo} destroyed': function() {
		can.route.removeAttr('id');
	}
});

var Routing = can.Control.extend({
	init: function() {
		can.route('todos/:id');
		new TodoBoard($('#board'));
		this.editor = new TodoEditor($('#editor'));
		$('#editor').hide();
	},
	'todos/:id route': function(data) {
		if(data.id) {
			var editor = this.editor;
			Todo.findOne({id: data.id}, function(todo) {
				editor.setTodo(todo);
				editor.element.show();
			});
		} else {
			$('#editor').hide();
		}
	}
});
		</pre>
		<pre class="template prettyprint lang-html" style="overflow: hidden;">
&lt;script type="text/mustache" id="todoBoard"&gt;
\{{#if length}}
&lt;ul&gt;
\{{#this}}
	&lt;li \{{data 'todo'}}&gt;
		&lt;input type="checkbox"
			\{{#if done}}checked="checked"\{{/if}}/&gt;
		&lt;span class="description
				\{{#if done}}done\{{/if}}"&gt;
			\{{description}}
		&lt;/span&gt;
		&lt;span class="delete"&gt;&times;&lt;/span&gt;
	&lt;/li&gt;
\{{/this}}
&lt;/ul&gt;
\{{else}}
&lt;div class="no-todos"&gt;No to-dos today.
	You're free!&lt;/div&gt;
\{{/if}}
&lt;/script&gt;
&lt;script type="text/mustache" id="todoEditor"&gt;
	&lt;input type="text"
		value="\{{description}}"/&gt;
	&lt;img class="spinner hidden"
		src="spinny.gif"/&gt;
&lt;/script&gt;
		</pre>
		<iframe class="result" src="example/example.html"></iframe>
		<br/>
	</div>
</div>