.example {
	position: relative;
	margin-top: 10px;
	clear: both;

	h2 {
		text-transform: uppercase;
	}

	.runner {
		background-color: @action;
		border-color: darken(@action, 10%);
		border-width: 1px;
		text-transform: uppercase;
		margin-right: 7px;
		font-size: 12px;
		float: right;
		color: #fff;
		line-height: 18px;
		display: inline-block;
		&:hover {
			background-color: darken(@action, 10%);
		}
	}
}

.example > pre, .example > iframe {
	float: left;
	display: block;
	height: 380px;
	width: 330px;
	.border-radius(@borderRadius);
	border: 1px solid #797979;
	margin-top: 10px;
	margin-bottom: 40px;
	cursor: default;
}

.example > pre {
	background-color: #fff;
	text-align: left;
	font-family: Courier New, Courier, mono;
	font-size: 12px;
	color: #666;
	margin-right: 2px;
	overflow: scroll;
	padding: 0 4px;
}

.example > .code {
	width: 360px;
	height: 550px;
}

.example > .result {
	width: 580px;
	height: 524px;
	background-color: #ffffff;
}

.example button.color {
	text-transform: uppercase;
	font-size: 12px;
	position: absolute;
	right: 3px;
	padding: 3px 20px;
	top: 50px;
}